@import url("https://fonts.googleapis.com/css2?family=Anta&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "anta";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style-type: none;
}

header {
  width: 100%;
  background-color: #231f20;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
header #logo {
  width: 90px;
}
header #logo img {
  width: 90px;
}
header #logo img:hover {
  background-color: #fff;
  opacity: 0.4;
  transition: all 0.5s ease;
}
header nav {
  width: 450px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
header nav ul li {
  margin-left: 20px;
  font-size: 17px;
}
header nav ul li a:hover {
  color: #0f0;
  transition: all 0.5s ease;
}
header .naslov {
  margin: 0px auto;
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}
header .naslov h1 {
  color: #fff;
}

#pocetak {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
}
#pocetak .blokprvi, #pocetak .blokdrugi {
  padding-bottom: 100px;
  margin: 50px 0px;
}

.blokprvi {
  margin-left: 50px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.blokprvi div {
  width: 100%;
}
.blokprvi div h2 {
  font-family: "inter";
  font-size: 30px;
  color: #fff;
  padding: 15px 0px;
}
.blokprvi div h1 {
  font-family: "inter";
  font-size: 65px;
  color: #0f0;
  text-transform: uppercase;
  padding: 15px 0px;
}

.blokdrugi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 50px;
  width: 500px;
  height: 440px;
}
.blokdrugi .tekst {
  width: 100%;
}
.blokdrugi .tekst h2 {
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}
.blokdrugi .tekst h2 span {
  font-family: "inter";
  color: #0f0;
  text-transform: uppercase;
}

#wrap {
  width: 100%;
  background: url("../../img/pozadina3.jpg") center/cover fixed;
  height: 100%;
}
#wrap .naslov {
  margin: 0px auto;
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}
#wrap .naslov h1 {
  color: #fff;
}

#pozadina {
  width: 100%;
}

.centar {
  width: 80%;
  margin: 0px auto;
}

main {
  width: 100%;
  background-color: #231f20;
  padding: 100px 0px;
}
main #polje {
  width: 100%;
  border: 1px solid #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
main #polje::before {
  content: "";
  width: 40%;
  height: 30%;
  position: absolute;
  border-left: 1px solid #0f0;
  border-bottom: 1px solid #0f0;
  left: 15px;
  bottom: 15px;
}
main #polje::after {
  content: "";
  width: 40%;
  height: 30%;
  position: absolute;
  border-right: 1px solid #0f0;
  border-top: 1px solid #0f0;
  top: 15px;
  right: 15px;
}
main #polje #pogled {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
  margin: 0px auto;
}
main #polje #pogled .ja {
  width: 300px;
  border-radius: 20px;
}
main #polje #pogled .ja img {
  width: 300px;
  border-radius: 20px;
}
main #polje #pogled .opis {
  width: 500px;
}
main #polje #pogled .opis h3 {
  font-size: 30px;
  color: #fff;
  line-height: 100px;
}
main #polje #pogled .opis a {
  font-size: 22px;
}
main #polje #pogled .opis a:hover {
  color: #000;
  transition: 1s linear;
}
main #polje #pogled .opis span {
  width: 40%;
  color: #0f0;
}
main #polje #pogled .opis #butonsi {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
main #polje #pogled .opis a {
  margin: 0px 0px 0px 10px;
}
main #polje #omeni {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
main #polje #omeni .mi {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
main #polje #omeni .mi h2 {
  color: #fff;
  width: 100%;
  line-height: 30px;
  font-size: 20px;
  font-family: "inter";
}

#skil {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0px;
}
#skil .blokcici {
  width: 410px;
  height: 280px;
  background-color: none;
  position: relative;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 20px;
}
#skil .blokcici::before {
  content: "";
  width: 40%;
  height: 30%;
  position: absolute;
  border-right: 2px solid #0f0;
  border-bottom: 2px solid #0f0;
  right: 10px;
  bottom: 10px;
}
#skil .blokcici::after {
  content: "";
  width: 40%;
  height: 30%;
  position: absolute;
  border-left: 2px solid #0f0;
  border-top: 2px solid #0f0;
  top: 10px;
  left: 10px;
}
#skil .blokcici h3 {
  color: #0f0;
  margin-bottom: 20px;
}
#skil .blokcici p {
  color: #fff;
  text-align: center;
}
#skil .blokcici i {
  font-size: 25px;
}

#kraj {
  width: 100%;
  background-color: #231f20;
  padding-bottom: 50px;
}
#kraj #services {
  width: 100%;
  margin-top: 50px;
}
#kraj #services .one {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(100deg, #231f20 10%, #0f0 100%);
  padding: 10px;
  margin-top: 20px;
}
#kraj #services .two {
  width: 85%;
  height: 50px;
  background-image: linear-gradient(100deg, #231f20 10%, #0f0 100%);
  padding: 10px;
  margin-top: 20px;
}
#kraj #services .three {
  width: 50%;
  height: 50px;
  background-image: linear-gradient(100deg, #231f20 10%, #0f0 100%);
  padding: 10px;
  margin-top: 20px;
}
#kraj #services .four {
  width: 95%;
  height: 50px;
  background-image: linear-gradient(100deg, #231f20 10%, #0f0 100%);
  padding: 10px;
  margin-top: 20px;
}
#kraj #services .five {
  width: 30%;
  height: 50px;
  background-image: linear-gradient(100deg, #231f20 10%, #0f0 100%);
  padding: 10px;
  margin-top: 20px;
}

#savijac {
  width: 100%;
}
#savijac #drzac {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#savijac #drzac .forma {
  width: 750px;
  margin: 50px 0px;
}
#savijac #drzac .forma form fieldset {
  padding: 5px 15px;
}
#savijac #drzac .forma form fieldset legend {
  font-size: 17px;
}
#savijac #drzac .forma form fieldset .blokovi {
  width: 100%;
  text-align: center;
}
#savijac #drzac .forma form fieldset .blokovi #ime {
  width: 100%;
  margin: 10px 0px;
  padding: 5px;
  outline: 0;
  height: 40px;
  font-size: 17px;
}
#savijac #drzac .forma form fieldset .blokovi #lastname {
  width: 100%;
  margin: 10px 0px;
  padding: 5px;
  outline: 0;
  height: 40px;
  font-size: 17px;
}
#savijac #drzac .forma form fieldset .blokovi #mail {
  width: 100%;
  margin: 10px 0px;
  padding: 5px;
  outline: 0;
  height: 40px;
  font-size: 17px;
}
#savijac #drzac .forma form fieldset .blokovi textarea {
  width: 100%;
  margin: 10px 0px;
  outline: 0;
  resize: none;
  height: 70px;
  font-size: 17px;
}
#savijac #drzac .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#savijac #drzac .info .blokovi {
  width: 100%;
  margin: 20px 0px;
}
#savijac #drzac .info .blokovi span {
  color: #0f0;
}

#posalji {
  width: 200px;
  font-size: 17px;
  background-color: #231f20;
  color: #fff;
  margin: 10px 0px;
  padding: 5px;
  outline: 0;
  border: 1px solid #0f0;
  cursor: pointer;
}
#posalji:hover {
  background-color: #0f0;
  transition: 1s linear;
  color: #000;
}

#paketic {
  background-color: #231f20;
  color: #fff;
  outline: 0;
  padding: 10px 20px;
  border: 1px solid #0f0;
  border-radius: 30px;
  cursor: pointer;
}
#paketic:hover {
  color: #000;
  transition: 1s linear;
  background-color: #0f0;
}

span {
  width: 40%;
  color: #0f0;
}

.linkovi {
  background-color: #231f20;
  color: #fff;
  outline: 0;
  padding: 10px;
  cursor: pointer;
}
.linkovi:hover {
  color: #0f0;
  transition: 1s linear;
}

#paketic2 {
  background-color: #231f20;
  color: #fff;
  outline: 0;
  padding: 10px 20px;
  border: 1px solid #0f0;
  border-radius: 30px;
  cursor: pointer;
}
#paketic2:hover {
  border: 1px solid #0f0;
  transition: 1s linear;
}

footer {
  width: 100%;
  background-color: #231f20;
}
footer #paketic2 {
  right: 40px;
  bottom: 20px;
  position: fixed;
}
footer #paketic2 i {
  color: #0f0;
}
footer #footercic {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer #footercic .proporcija1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}
footer #footercic .proporcija1 a {
  font-size: 20px;
  padding: 5px 0px;
}
footer #footercic .proporcija1 i {
  font-size: 15px;
}
footer #footercic .proporcija2 {
  width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}
footer #footercic .proporcija2 ihover {
  color: #fff;
}
footer #footercic .proporcija3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 200px;
  margin: 20px 0px;
}
footer #footercic .proporcija3 a {
  font-size: 20px;
  padding: 5px 0px;
}
footer #footercic .proporcija3 i {
  font-size: 15px;
}
footer #footercic .proporcija3 ihover {
  color: #fff;
}
footer #footercic .proporcija {
  width: 90px;
}
footer #footercic .proporcija img {
  width: 90px;
}
footer #footercic .proporcija img:hover {
  background-color: #fff;
  opacity: 0.4;
  transition: 0.5s ease;
}
footer #footercic .zakljucak {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
footer #footercic .zakljucak h1 {
  font-size: 24px;
}
footer #footercic .zakljucak h1 i {
  font-size: 20px;
}
footer #footercic .zakljucak span {
  color: #0f0;
}/*# sourceMappingURL=style.css.map */