#posalji{
    width:200px;
    background-color: $glavnaboja;
    color:$trecaboja;
    margin:10px 0px;
    padding:5px;
    outline:0;
    border:1px solid $drugaboja;
    cursor:pointer;
        &:hover{
            background-color: $drugaboja;
            transition: 1s linear;
            color:$cetvrtaboja;
        }
}
#paketic{
    background-color: $glavnaboja;
    color:$trecaboja;
    outline:0;
    padding:10px 20px;
    border:1px solid $drugaboja;
    border-radius: 30px;
    cursor:pointer;
        &:hover{
                color:$cetvrtaboja;
                transition: 1s linear;
                background-color: $drugaboja;
            }
        }
    span{
        width:40%;
        color:$drugaboja;
    }
.linkovi{
    background-color: $glavnaboja;
    color:$trecaboja;
    outline:0;
    padding:10px;
    cursor:pointer;
    &:hover{
        color:$drugaboja;
        transition: 1s linear;
    }
}
#paketic2{
    background-color: $glavnaboja;
    color:$trecaboja;
    outline:0;
    padding:10px 20px;
    border:1px solid $drugaboja;
    border-radius: 30px;
    cursor:pointer;
        &:hover{
                border: 1px solid $drugaboja;
                transition: 1s linear;
            }
        }