#kraj{
    width: $w;
    background-color: $glavnaboja;
    padding-bottom:50px;
    #services{
        width: $w;
        margin-top:50px;
        .one{
            width:100%;
            height:50px;
            background-image: linear-gradient(100deg, $glavnaboja 10%, $drugaboja 100%);
            padding:10px;
            margin-top:20px;
        }
        .two{
            width:85%;
            height:50px;
            background-image: linear-gradient(100deg, $glavnaboja 10%, $drugaboja 100%);
            padding:10px;
            margin-top:20px;
        }
        .three{
            width:50%;
            height:50px;
            background-image: linear-gradient(100deg, $glavnaboja 10%, $drugaboja 100%);
            padding:10px;
            margin-top:20px;
        }
        .four{
            width:95%;
            height:50px;
            background-image: linear-gradient(100deg, $glavnaboja 10%, $drugaboja 100%);
            padding:10px;
            margin-top:20px;
        }
        .five{
            width:30%;
            height:50px;
            background-image: linear-gradient(100deg, $glavnaboja 10%, $drugaboja 100%);
            padding:10px;
            margin-top:20px;
        }
    }
}