main{
    width:$w;
    background-color: $glavnaboja;
    padding:100px 0px;
    .naslov{
        margin:0px auto;
        width:$w;
        text-align: $c;
        padding:50px 0px;
        h1{
            color:$trecaboja;
        }
    }
    #polje{
        width: $w;
        border:1px solid $trecaboja;
        position:relative;
        @include pozicioniranje;
        &::before{
            content:"";
            width:40%;
            height:30%;
            position:$a;
            border-left:1px solid $drugaboja;
            border-bottom:1px solid $drugaboja;
            left:15px;
            bottom:15px;
        }
        &::after{
            content:"";
            width:40%;
            height:30%;
            position:$a;
            border-right:1px solid $drugaboja;
            border-top:1px solid $drugaboja;
            top:15px;
            right:15px;
        }
        #pogled{
            width:80%;
            @include pozicioniranje;
            padding-bottom:80px;
            margin:0px auto;
            .ja{
                width:300px;
                border-radius: 20px;
                img{
                    width:300px;
                    border-radius: 20px;
                    
                }
            }
            .opis{
                width:500px;
                h3{
                    font-size: 30px;
                    color:$trecaboja;
                    line-height: 100px;
                }
                a{
                    font-size: 22px;
                    &:hover{
                        color:$cetvrtaboja;
                        transition: 1s linear;
                    }
                }
                span{
                    width:40%;
                    color:$drugaboja;
                }
                #butonsi{
                    @include pozicioniranje(row, flex-start, center, wrap);
                }
                a{
                    margin:0px 0px 0px 10px;
                }
            }
        }
        #omeni{
            width:80%;
            @include pozicioniranje4;
            margin-bottom:50px;
            .mi{
                width:$w;
                text-align: center;
                margin-top:20px;
                h2{
                    color:$trecaboja;
                    width:$w;
                    line-height: 30px;
                    font-size: 20px;
                    font-family: 'inter';
                }
            }
        }
    }
}
