#skil{
    width:$w;
    @include pozicioniranje;
    padding:50px 0px;
    .blokcici{
        width:410px;
        height:280px;
        background-color: $n;
        position:relative;
        margin:40px 0px;
        &::before{
            content:"";
            width:40%;
            height:30%;
            position:$a;
            border-right:2px solid $drugaboja;
            border-bottom:2px solid $drugaboja;
            right:10px;
            bottom:10px;
        }
        &::after{
            content:"";
            width:40%;
            height:30%;
            position:$a;
            border-left:2px solid $drugaboja;
            border-top:2px solid $drugaboja;
            top:10px;
            left:10px;
        }
        @include pozicioniranje(column, space-around, center, wrap);
        padding:20px 20px;
        h3{
            color:$drugaboja;
            margin-bottom:20px;
        }
        p{
            color:$trecaboja;
            text-align: $c;
        }
        i{
            font-size: 25px;
        }
    }
}