#wrap{
    width:$w;
    background: url('../../img/pozadina3.jpg') $c / cover fixed;
    height:$w;
    .naslov{
        margin:0px auto;
        width:$w;
        text-align: $c;
        padding:50px 0px;
        h1{
            color:$trecaboja;
        }
    }
}
#pozadina{
    width:$w;
}
.centar{
    width:80%;
    margin:0px auto;
}